<!--
© 2022-2022 Burns Recording Company
Created: 28/11/2022
-->

<!--
        COVER ART
        This adds a large cover art image above the player.
        You can set one of several sizes. Use one of these in the 'class':
          - jumbo
          - large
          - medium
          - small
      -->
<section class="brc--cover-art medium">
  <img src="/img/cover-art.png" alt="<%= site.title %>" />
</section>
