<!--
© 2022-2022 Burns Recording Company
Created: 23/10/2022
-->

<!--
  FOOTER

  Here is where you should add any copyright notices, additional attributions,
  additional thanks, privacy policy links, and that kind of thing. Any additional
  information, really.
-->

<footer class="footer" role="doc-footnote">
  <div class="copyright">
    &copy; 2023 <%= site.copyright %>
  </div>
  <div class="thanks">
    Built with open source software from <a href="https://burns.fm" target="_brc">BRC</a>.
  </div>
</footer>
