<!--
© 2022-2022 Burns Recording Company
Created: 22/10/2022
-->
<head>
  <title><%= site.title %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0" />
  <link rel="stylesheet" href="/app/styles/main.css" />
  <link rel="icon" href="/img/brc-logo.png" />
</head>
