<!--
© 2022-2022 Burns Recording Company
Created: 28/11/2022
-->
<!-- 
PLAYER HELP
Place this within the block that has the `.player` class defined
in order to receive the proper styles.

Ultimately you can put this anywhere you want a drop down containing some
helpful details about the player controls. Just remember to update
the styles or give it a class!
-->

<details>
  <summary>HELP</summary>
  <section>
    <h3>KEYBOARD COMMANDS</h3>
    <ul>
      <li>
        <kbd>spacebar</kbd> - Toggle playback
      </li>
      <li>
        <kbd>o</kbd> - Toggle visualizer/scope
      </li>
      <li>
        <kbd>v</kbd> - Toggle volume options in display
      </li>
      <li>
        <kbd>m</kbd> - Toggle mute
      </li>
    </ul>
  </section>
</details>