<!--
© 2022-2022 Burns Recording Company
Created: 23/10/2022
-->

<!--
  PLAYER
  You can re-arrange the player interface as you see fit.

  Move elements in a different order to change the structure of the player.
  Configure the layout, colours, icons, and functions in these two files:

  Styles: /public/app/styles/scss/player.scss
  Player source code: /client/player.ts

  PLAYER SECTIONS

  Display:
    Place elements related to your player's display in here, like time information,
    track metadata, bitrate information, and so on.

  Transport:
    Place elements related to the control of your player in here, like play/pause buttons,
    playlist functions, position scrubber, volume, and so on.

    Button elements in this area will have default styling applied, even without a class name.

  Note:
  Just remember, if you change any classes or IDs here, you must
  change them to match wherever they are referenced throughout the code
  and stylesheet files.
-->

<section class="player">
  <div class="display">
    <div class="oscilloscope">
      <canvas id="osc" />
    </div>

    <div class="track-info">
      <!-- <marquee id="title">Track Title</marquee> -->
      <div id="title">...</div>
      <p id="album">...</p>
    </div>

    <div class="time">
      <time class="current-time" title="Playback position (HH:MM:SS)">00:00:00</time>
      <!-- <time class="duration">00:00:00</time> -->
    </div>
  </div>
  <div class="transport">
    <div class="position">
      <progress
        id="position"
        name="position"
        title="Playback position"
      />
    </div>
    
    <div class="controls">
      <button id="btn--play" title="Toggle Playback">
        PLAY
      </button>
      <button id="btn--skip" title="Skip Track">
        SKIP
      </button>
      <button id="btn--rand" title="Random Track">
        RAND
      </button>
      <button id="btn--osc" title="Toggle oscilloscope">
        OSC
      </button>
      <button id="btn--shr" title="Share this track">
        SHR
      </button>
      <button id="btn--mute" title="Toggle Mute">
        MUTE
      </button>

      <div class="volume">
        <progress
          id="volume"
          name="volume"
          title="Adjust volume"
        />
      </div>
    </div>
  </div>
</section>
