<!--
© 2022-2022 Burns Recording Company
Created: 22/10/2022
-->

<!--
  SPLASH
  Feel free to replace this element entirely, but it's a
  good place to throw large items, promotions, release dates, etc.
-->

<section class="splash">
  <h1>Album Title</h1>
  <h2>Artist Name</h2>
  <div class="release-date">
    Jan 1, 2023
  </div>
  <div class="cover-art">
    <img src="/img/cover-art.png" />
  </div>
</section>
