<!--
© 2022-2022 Burns Recording Company
Created: 22/10/2022
-->

<!--
  SPLASH
  Feel free to replace this element entirely, but it's a
  good place to throw large items, promotions, release dates, etc.
-->

<section class="splash">
  <h1><%= site.title %></h1>
  <h2><%= site.subtitle %></h2>
  <div class="supporting-text">
    <%= site.supportingText %>
  </div>
</section>
