/*
 * © 2022-2022 Burns Recording Company
 * Created: 22/10/2022
 */
@import 'layout';
@import 'fonts';
@import 'colors';

$light-text-shadow: 0px 0px 10px $background_90;

.splash {
  @include flex-center;
  max-width: 100%;
  flex-direction: column;

  & > *:first-child {
    margin-top: $spacing;
  }

  & > * {
    margin: 0 $spacing * 2;
  }

  h1 {
    font-size: 2.3em;
    font-weight: 800;
    text-transform: uppercase;
    color: $yellow;
    text-shadow: $light-text-shadow
  }
  h2 {
    font-size: 3em;
    font-weight: 300;
    text-shadow: $light-text-shadow
  }

  p {
    font-size: 1.1em;
    text-shadow: $light-text-shadow;
  }
}
