/*
 * © 2022-2022 Burns Recording Company
 * Created: 26/11/2022
 */

@font-face {
  font-family: 'ProDisplay';
  src: url('/fonts/Pro_Display_tfb.woff') format('woff');
}

@font-face {
  font-family: 'Elektra';
  src: url('/fonts/ELEKTRA_.woff') format('woff');
}

@font-face {
  font-family: '14SegmentLED';
  src: url('/fonts/14-segment-led.woff') format('woff');
}

@font-face {
  font-family: 'SerifLED';
  src: url('/fonts/serif_led_board-7.woff2') format('woff2');
}

@font-face {
  font-family: 'DigitalReadout';
  src: url('/fonts/SFDigitalReadout-Light.woff2') format('woff2');
  font-weight: light;
}
@font-face {
  font-family: 'DigitalReadout';
  src: url('/fonts/SFDigitalReadout-LightOblique.woff2') format('woff2');
  font-weight: light;
  font-style: oblique;
}
@font-face {
  font-family: 'DigitalReadout';
  src: url('/fonts/SFDigitalReadout-Heavy.woff2') format('woff2');
  font-weight: heavy;
}
@font-face {
  font-family: 'DigitalReadout';
  src: url('/fonts/SFDigitalReadout-HeavyOblique.woff2') format('woff2');
  font-weight: heavy;
  font-style: oblique;
}
@font-face {
  font-family: 'DigitalReadout';
  src: url('/fonts/SFDigitalReadout-Medium.woff2') format('woff2');
  font-weight: medium;
}
@font-face {
  font-family: 'DigitalReadout';
  src: url('/fonts/SFDigitalReadout-MediumOblique.woff2') format('woff2');
  font-weight: medium;
  font-style: oblique;
}

@font-face {
  font-family: 'LCDRounded';
  src: url('/fonts/JdLcdRounded.woff') format('woff');
}

@font-face {
  font-family: 'Streetdot';
  src: url('/fonts/Streetdot.woff') format('woff');
}
