/*
 * © 2022-2022 Burns Recording Company
 * Created: 22/10/2022
 */

$spacing: 8px;
$border-radius: 8px;

$mobile-breakpoint: 768px;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
