/*
 * © 2022-2022 Burns Recording Company
 * Created: 22/10/2022
 */

$spacing: 8px;
$border-radius: 8px;

$mobile-breakpoint: 768px;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

main {
  overflow-y: scroll;
}

.columns {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;

  &.vertical {
    flex-direction: column;
  }

  & .column {
    margin: $spacing;
    flex-basis: auto;
    flex-grow: 1;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.container {
  height: 100%;
  width: 100%;

  &.split {
    @include flex-center;
    justify-content: space-evenly;
    & > * {
      margin-right: $spacing;
    }
    & > *:last-child {
      margin-right: unset;
    }
  }

  &.center {
    &.column {
      flex-direction: column;
    }
    
    @include flex-center;
    @media screen and (max-width: $mobile-breakpoint) {
      flex-direction: column;
    }
  }
}
