/*
 * © 2022-2022 Burns Recording Company
 * Created: 22/10/2022
 */
@import 'layout';
@import 'brc';

$associations_height: 40px;

.associations {
  @include flex-center;
  min-height: $associations_height;

  margin-top: $spacing * 2;

  @media screen and (max-width: $mobile-breakpoint) {
    margin-top: $spacing * 4;
  }

  & > section.inner {
    @include flex-center;
    justify-content: space-evenly;
    width: 70%;

    @media screen and (max-width: $mobile-breakpoint) {
      flex-direction: column;
    }

    & > div {
      @include flex-center;
      transition: 200ms opacity ease;
      transform: scale(0.7);

      @media screen and (max-width: $mobile-breakpoint) {
        margin: $spacing;
      }
  
      &:hover {
        opacity: 0.7;
      }
      & img {
        -webkit-user-drag: none;
        -moz-user-drag: none;
        user-drag: none;
        -moz-user-select: none;
        user-select: none;
        height: $associations_height;
        max-height: $associations_height;
      }
    }
  }
}

