/*
 * © 2022-2022 Burns Recording Company
 * Created: 23/10/2022
 */
@import 'layout';

footer.footer {
  margin-top: 2rem;
  font-size: 0.7em;
  font-weight: 200;
  color: $foreground_80;
  text-align: center;
  margin-bottom: $spacing * 10;

  & a {
    color: $foreground;
    text-decoration: underline;
  }
}

