/*
 * © 2022-2022 Burns Recording Company
 * Created: 23/10/2022
 */
@import 'layout';

footer.footer {
  margin-top: 2rem;
  font-size: 0.7em;
  font-weight: 200;
  color: $foreground_80;
  text-align: center;
  margin-bottom: $spacing * 10;

  &.bottom {
    position: absolute;
    bottom: -40px;;

    $border: 30px;

    &.right {
      right: $border + 5px;
      text-align: right;
    }
    &.left {
      left: $border + 5px;
      text-align: left;
    }
  }

  & a {
    color: $foreground;
    text-decoration: underline;
  }
}

