/*
 * © 2022-2022 Burns Recording Company
 * Created: 22/10/2022
 */
@import 'layout';
@import 'fonts';
@import 'colors';

$max-width: 1114px;

html, body {
  @include flex-center;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: $foreground;
  background-color: $background;
  background: url('/img/RugSpin.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  margin: 0;
}

::selection { 
  background-color: rgba(242,255,255,0.4);
  text-shadow: 0 0 4px rgba(0,0,0,0.3);
  color: $background;
}

@import './association.scss';
@import './splash.scss';
@import './player.scss';
@import './footer.scss';
@import './example.scss';
