/*
 * © 2022-2022 Burns Recording Company
 * Created: 23/10/2022
 */
@import 'colors';
@import 'layout';
@import 'fonts';

$player-width: 450px;
$noise: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAUGVYSWZNTQAqAAAACAACARIAAwAAAAEAAQAAh2kABAAAAAEAAAAmAAAAAAADoAEAAwAAAAEAAQAAoAIABAAAAAEAAAAyoAMABAAAAAEAAAAyAAAAAGcWgbUAAAIwaVRYdFhNTDpjb20uYWRvYmUueG1wAAAAAAA8eDp4bXBtZXRhIHhtbG5zOng9ImFkb2JlOm5zOm1ldGEvIiB4OnhtcHRrPSJYTVAgQ29yZSA2LjAuMCI+CiAgIDxyZGY6UkRGIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyI+CiAgICAgIDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiCiAgICAgICAgICAgIHhtbG5zOmV4aWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20vZXhpZi8xLjAvIgogICAgICAgICAgICB4bWxuczp0aWZmPSJodHRwOi8vbnMuYWRvYmUuY29tL3RpZmYvMS4wLyI+CiAgICAgICAgIDxleGlmOlBpeGVsWURpbWVuc2lvbj41MDwvZXhpZjpQaXhlbFlEaW1lbnNpb24+CiAgICAgICAgIDxleGlmOkNvbG9yU3BhY2U+MTwvZXhpZjpDb2xvclNwYWNlPgogICAgICAgICA8ZXhpZjpQaXhlbFhEaW1lbnNpb24+NTA8L2V4aWY6UGl4ZWxYRGltZW5zaW9uPgogICAgICAgICA8dGlmZjpPcmllbnRhdGlvbj4xPC90aWZmOk9yaWVudGF0aW9uPgogICAgICA8L3JkZjpEZXNjcmlwdGlvbj4KICAgPC9yZGY6UkRGPgo8L3g6eG1wbWV0YT4KNiSrjAAACbZJREFUaAWV2a1yHEkQhdEZjYCBgYGBgUADAz/GvP8TCBgYGBgYGAgICGydsj9FekIbG5sRrarMvHnzp6pb8u75OI7rjx8/Ts/Pz6d3797t9dOnTye25Tt9+/bt9OXLl73CTLnF54N/fHzc6twzxBk2m3xEDvk/fPiw92xqmFJeK8F5WUEH5enp6fTy8rKNVjrSjx8/bqKHh4dNLglbfrHv378/8f/8+ZP6ukqA69evX7u4uNjZFMImXiM42HHjsvfcyv39/ea1qhH2soIOYJNDSL5///56OgqpGIkl9LDRrTVmrxjNKgZf06SzSyp5WLkaQHXQ41CPxou1Fq8Rz+fPn0/nhbsqiJPYE7o9kq4JO5tjTyQvFlbhknVV4NjpcVrDxIcTV3HVkR0edzn4s8lxx1EChnk36QmcQH7JEFnZE4kIjBPOBysH3cpXwfD8DUsOuLBwYmau+NhwkfN6rpTAjMiIwgJKFAGfRBUOY5r8HvYKDyOGTI7flt8/cdRM9pmDbcaqcQ7jsvyHO2mKVne3otxrD529lwwhrORW70L+r1+/vr604mDEeY/ocSiMj92jCYXDWBWKy95Q4reScnon+S+rqIOiO4QFIFQwIvvsXqyOmc0ATF2sVQFeYNKUG0YTZWfDoyAFEwVplA8WlxyGRezZ5VKT3PA4Lst5IKjrHbF+aA6BR6BHgCQlUjBCUnyTkkChEmteDIwmSD74OORQPMHNZziEHQeMWPXJwY/3siZ+KLZp6brOrcB8iJsAUjbEMEQC5IjjYGejy1GRXRk2RcxYxXeiNYin4bHJHZ8V/2U5Dg7C0FWqyCZQsGbgFGNN4JEm8Pwl5u+07CsSxmPKchuEUzNAuPYGAkPsxc98d6ZkKgRR+/SuQHYFSpY0hK5M9qafn92+YujywRmOFS9b/Djb17g4NjhihTuv/bWAWSxySfn+z2dRsWIlxkePt8RscSqETuDknE3Rq6X4mhPb/p6SlHQmtkfM1zQFa5DMguiTA3fF5cNRztlABTVUeNgZr45q4C/G/ryea4VySGKVxCQ8feNnoOCk4ltvT7EC8hcHp9B489coH1v+GVdNxexfiF6qroOkXsq+Bk2AHc5L6HPqI5AuIfHS3jbBji9s8XTc5XMV+fry0fGpQ2MKFkPg+rrxy39eRNe66l5v9Bs/5qRgSU3wmZyVrSI7UTkUPadLnzkbQtiGiA+Wna2c8hdzWRM4fEp1a8pNT5DJ69jedJD12VUgu5iKgZGEDiupeJIvTrZyzkn3mcVh8kQOuUh8Gii3+POa4NWUOOa0FCRYwQqyz2bq3dEZw17C+RGYmF3N+hEffe7TcYlr+vGmw3Wiatx/a+lI96Zgck3NvhPSfb+ImpbpSIjQnt3a1CQXzz9XdsnhiTwGKa6m4OVkE1+MRuBJfuv+FyJjxyuISORBpDFEEiOKjE1cOLpm80to70TxOiWrSeOaxcMQMZ2GZsTPGEXDGLzc5dtfLQQV4e8ce2B7QHvvBmIF5EcmUSegYdgSaLCErU09nBhCh7EqHE4uevxwuMPSxcDtRgRSPETXio5MQXxI8tsj8SiG3uRhxZu8pB4DYZun1xAqDo5UuBMrpuacljiPOuWU/7ziroIFEQAF0OcLnY5QsFOxh00aCA4CYy+5GPts8YSjFwc7peKnHR5XvJdV4GECTRSZDvvqmK4AYjr0phy2CXZK/JI3aThPjeLzOKWuRrxwJi0WBhdfutqqN164yyrucNwlFWjfdaFLpgjT7+Vi99RESdmcXr9vDEA8u1jcFdvvL7EwRB77eQXpYuUqHyxbuP3vEcEZAgh2bJIQqwIQKYquWTh6w4BtEHxN12oQsPL5kGgY32xwNokLR0O04nFCTlwNhoHnr1+IrhNj1wqR4O4mH5J0ZBKzWQkbUfR/CezEKcxA4p/xsy44seq0l3ufiICOzDSbZJO3sinYQxDA0k00u8ZNKZGwKTdNmGIVWD41eA/5CJ8Yj6JxyeMmWOE64f35FYAE0FrRJVYIm7Ui6CQicZqb06Szw3jsySxUgTUFr0D1sOHSWIOpjuzxWO8Q314lx9uVskrAJoFEbHTExRsC3QpHYEg++/hwdjXg6eKLtWebgg8XmQMTsxvhoAgG6GEvwQy0n6RhKhJPsVbvQUUZBH8YMentu0bscrGrz744vDUFv/9zEHJH2JWS1FUgbPNqZHdNugZWj6vomPm8N0Ti4unFl0OcvTg18Nuzh2fThMJvPw7yyHcnEQAgUCdjCkSS9nDECscuBkeYphYfHyyZXOHZEntxiTxwTp9PLoIvzho+L8C1ZgJu9J8fiCZ5OmJx/ybTL0bCYsXlf2vFCasezRC43qnqrS76/k+mgBRHKKDjZ3fMBKHJ8DlOOA//bQy9ZGIcvcLYiRg8OF1durVrUh3sBuApxvXlx2ntT5bzOqJ9Ip1GU9sZ1w/JFGAahB52G/78KC68RgisazCnSZ/+Gv9D9eYyY6pHLqeC604CyRSS45apJqYdMUFqb/KJCbLjJcVLWBF8iqBnj3MHrR/pVhh4j1hxRM3kLgMFgLABaA7BFBg+xRJ+hdLZS5afLbGvaDbNx996i6Xjxyu+GKs6+az3EQCSrgjnTErnI+zh6XNixcB74KzEECa25vkVVKw82ToVPhjCl7+a9p8oOm2CXiCPl0ri7F4qfyrQ+RD0onrxTMjvAQn4/HUreS9kjYftZcWHR6wY+Brig/PY4+b3UcBn7yPgOa8Gr3WJgGhME9ZEID3C/GIqMqxG2JpmWLEaplvpTTT+po5L4fjji/92lef1N3u/lYEkUDRy00DmMTk2e3hTtDcRIjGMtUnBm1wnoAE2ftj42YvHjVcN/LCacRLlxMnWLbgsgkPhHB6iQ8dMXClJkCEPR5fQdBM+NoUqioiH5bPHIR+/QmZucTXBromK5aOHxw2rTvbXfyEKkFDXklY4kK7TERCFVAx/CWtGnL1VA1YcVpNWhHeuOMPSZDgYRVcsXT46u70TxUle//rt3m7r+oGUOJ05dYSSS8yO1ApvJVY4IiHpfbE3XXEETydYTnYc8lgJjCc7LB2vHPt/vTHkEARcIewIrTWlCDEVWSIx08YuztPeCocjXrb5kpcbFwyZq9xEPX22999argAR2NFLzu7adLX4FRDeldE0O3ynhKuJS+YKzWuAzxURGw5HvNmsro7GYIlYOHwNUx37anU8TQIASfd2TmuzrR+w7E2101JQ04PtNErKX+NxiYVjJ1b88eRjw0OPt/z73yO65VDYTNL9RV5T9m9JyWYMLomJhAqpADn5Pe35wrB3MhUPl/ATNnH/ADSXStZ7O4ZjAAAAAElFTkSuQmCC');

.player {
  // width: 100vw;
  // max-width: $player-width + 450px;
  margin: 0 ($spacing * 2);
  padding: $spacing * 1.5;

  // background-color: $background_50;
  background-color: $background;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 1;

  @media screen and (max-width: $max-width) {
    min-width: unset;
  }

  & .oscilloscope {
    width: 100%;
    height: $spacing + 4;

    & canvas {
      height: 100%;
      width: 100%;
      clip-path: inset(2px, 2px, 2px, 2px);
      position: absolute;
      z-index: -1;
      opacity: 0.3;
    }

    &.hidden {
      visibility: hidden;
    }
  }

  & .display {
    position: relative;
    padding-bottom: 12px;
    height: 125px;

    background: $noise;
    font-family: 'LCDRounded';

    border: 1px solid rgba(242, 255, 255, 0.4);
    box-shadow: inset 0 0 1px 6px rgba(242, 255, 255, 0.1);

    text-shadow: 0px 0px 8px rgba(164, 250, 255, 0.976);


    &::before {
      position: absolute;
      top: -10px;
      left: -10px;
      width: 30px;
      height: 30px;
      z-index: 2;
      background: rgba(255, 255, 255, 0.517);
      background: rgb(255, 255, 255);
      background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(241, 251, 249, 1) 0%, rgba(100, 105, 104, 0) 14%, rgba(246, 255, 255, 0.25231336719982256) 16%, rgba(0, 0, 0, 0) 18%);
      content: ' ';
      display: none;
    }

    &::after {
      $margin: 5px;
      position: absolute;
      display: block;
      content: ' ';
      top: 0;
      left: 0;
      height: calc(100% - 10px);
      width: calc(100% - 10px);
      z-index: 1;
      background: rgb(242, 255, 255);
      background: linear-gradient(148deg, rgba(242, 255, 255, 0.202) 3%, rgba(183, 245, 236, 0.189) 4%, rgba(22, 10, 10, 0) 35%), linear-gradient(-78deg, rgba(242, 255, 255, 0.202) 3%, rgba(183, 245, 236, 0.189) 4%, rgba(22, 10, 10, 0) 25%);
      // border: 1px solid linear-gradient(138deg, rgba(242, 255, 255, 0.854) 2%, rgba(183, 245, 236, 0.859) 4%, rgba(22,10,10,0) 35%);
      box-shadow: inset 0 0 10px 2px rgba(242, 255, 255, 0.2);
      margin: $margin;
      pointer-events: none;
    }

    & .time {
      width: 100%;
      @include flex-center;

      & .current-time {
        font-size: 36px;
        font-weight: 100;
        font-family: 'LCDRounded';

        &.seg {
          background-color: $foreground;
          color: $background;
          font-family: '14SegmentLED';
          line-height: 0.6;
        }
      }
    }

    & .track-info {
      & #title {
        font-size: 3em;
        font-weight: 200;
        margin: 0;
        font-family: 'LCDRounded';
        text-align: center;
        overflow: hidden;
        text-transform: uppercase;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 0.8;

        max-height: 40px;
        max-width: 60%;
        margin-left: 20%;
      }

      & #album {
        text-align: center;

        font-size: 2em;
        // margin: $spacing / 2;
        margin: 0;
        font-family: 'LCDRounded';
        line-height: 0.8;
      }
    }

    .page {
      @include flex-center;
      flex-direction: column;
      height: 80%;

      & * {
        padding: 0;
        margin: 0 ($spacing / 2);
      }

      & progress {
        margin-top: $spacing;
        margin-bottom: $spacing;
      }

      & button {
        background: transparent;
        border: unset;
        // border: 1px dotted rgba(242,255,255, 0.3);
        border-radius: 3px;
        padding: ($spacing / 3) ($spacing * 3);
        box-shadow: none;
        text-shadow: 0 0 4px rgba(242,255,255,0.6);
        font-family: 'LCDRounded';
        font-size: 20px;

        opacity: 0.7;

        box-shadow: inset 0 0 8px 0 rgba(242,255,255, 0.3), 0 0 8px 0 rgba(242,255,255, 0.3);
        transform: scale(0.8);

        &:hover {
          background-color: rgba(242,255,255, 0.1);
          filter: brightness(1.3);
        }

        &:active {
          background-color: rgba(242,255,255, 0.2);
          filter: brightness(1.4);
        }
      }
    }
  }

  & .transport {
    margin-top: $spacing * 2;
  }

  & button {
    background-color: $background;
    background: $noise;
    color: $foreground;
    border-radius: 3px;
    border: 0;
    // padding: $spacing ($spacing * 2.75) ($spacing + 6) ($spacing * 2.75);
    padding: $spacing $spacing * 2.75;
    cursor: pointer;
    border: 1px solid rgba(242, 255, 255, 0.3);
    border-top: 1px solid rgba(242, 255, 255, 0.6);
    border-bottom: 10px solid rgba(242, 255, 255, 0.4);
    border-left: 2px solid rgba(242, 255, 255, 0.5);
    border-right: 2px solid rgba(242, 255, 255, 0.5);
    box-shadow: 0 0 4px 0 rgba(242, 255, 255, 0.5);

    transition: 175ms ease all;

    &>* {
      filter: blur(0.01px) brightness(1.1);
      opacity: 0.9;
    }


    &.active {
      background-color: rgba(255, 176, 164, 0.28);
      border-bottom: 6px solid rgba(242, 255, 255, 0.3);
    }

    &:hover {
      background-color: $foreground_20;
      // box-shadow: 0 0 10px 1px $white_70;

      &.active {
        background-color: rgba(251, 197, 189, 0.409);
      }
    }

    &:active {
      background-color: $foreground_30;
      border-bottom: 3px solid rgba(242, 255, 255, 0.183);
    }
  }

  & .controls {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
  }

  & .volume {
    display: inline-flex;
    width: 175px;

  }

  & .position {
    position: absolute;
    bottom: -10px;
    left: 5px;
    width: 452px;
  }

  & .volume,
  & .position {
    opacity: 0.3;
    transition: 150ms ease all;

    &:hover {
      opacity: 0.6;
    }
  }

  & .position,
  & .volume {
    @include flex-center;
    margin: ($spacing * 2) 0;
  }

  & progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    // background-color: $background;
    transition: 180ms ease-in-out height, 100ms ease width;
    // height: 2px;
    height: 10px;

    cursor: pointer;
    border-radius: 1px;

    @media screen and (max-width: $mobile-breakpoint) {
      height: 10px;
    }

    &:hover {
      height: 10px;
    }
  }

  & .position progress {
    width: 100%;
  }

  & progress[value],
  & progress[value]::-webkit-progress-bar {
    background-color: $foreground_20;
    border: 0;
  }

  & progress[value]::-webkit-progress-value,
  & progress[value]::-moz-progress-bar {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  & progress[value]::-webkit-progress-value {
    background-color: $foreground_50;
    // transition: 120ms ease all;

    &:hover {
      background-color: $foreground_75;
    }
  }

  & progress[value]::-moz-progress-bar {
    background-color: $foreground_50;
    // transition: 120ms ease all;

    &:hover {
      background-color: $foreground_75;
    }
  }

  & details {
    margin-top: $spacing;
    font-size: 11px;
    transition: 150ms ease all;

    & summary {
      color: $foreground_50;
      cursor: pointer;
      list-style-type: '☮︎ ';
      &::marker {
        font-weight: 300;
        font-size: 16px;
      }

      &:hover {
        color: $foreground_80;
      }
    }

    & > section {
      background-color: $foreground_10;
      margin-top: $spacing / 2;
      padding: $spacing * 1.5;
      max-height: 75px;
      overflow-y: auto;
    }

    & kbd {
      border-radius: 2px;
      padding: $spacing / 2.5;
      border-top: 1px solid white;
      border-left: 2px solid silver;
      border-right: 2px solid silver;
      border-bottom: 4px solid grey;
    }

    & ul {
      padding: 0;
    }

    & li {
      list-style: none;
      margin: $spacing * 1.5 0;
    }

    & h1,
    & h2,
    & h3 {
      margin: 0;
    }
  }
}