/*
 * © 2022-2022 Burns Recording Company
 * Created: 23/10/2022
 */
@import 'colors';
@import 'layout';

$player-height: 180px;
$player-width: 450px;

.player {
  width: $player-width;
  // height: $player-height;
  margin: $spacing * 2;
  padding: $spacing * 1.5;

  background-color: $background_50;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 1;

  & .oscilloscope {
    width: 100%;
    height: $spacing + 4;
    
    & canvas {
      height: 100%;
      width: 100%;
      clip-path: inset(2px, 2px, 2px, 2px);
      position: absolute;
      z-index: -1;
    }
  }

  & .display {
    position: relative;
    padding-bottom: 12px;

    & >.time {
      width: 100%;
      @include flex-center;

      & .current-time {
        font-size: 3em;
        font-weight: 100;
      }
    }

    & >.track-info {
      & #title {
        font-size: 1.1em;
        font-weight: 200;
        margin: 0;
      }

      & div#title {
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      & #album {
        text-align: center;
        font-size: 0.8em;
        margin: $spacing / 2;
      }
    }
  }

  & .transport {
    & button {
      background-color: $background;
      color: $foreground;
      border: 0;
      border-radius: $border-radius / 2;
      padding: $spacing ($spacing * 2.75);
      cursor: pointer;
      transition: 130ms ease-in-out box-shadow, 400ms ease background-color;

      &:hover {
        background-color: $foreground_10;
        box-shadow: 0 0 10px 1px $white_70;
      }

      &:active {
        background-color: $foreground_30;
      }
    }

    & .controls {
      display: flex;
      justify-content: space-between;
    }

    & .volume {
      display: inline-flex;
      width: 100px;
    }

    & .position,
    & .volume {
      @include flex-center;
      margin: ($spacing * 2) 0;

      & progress {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        // background-color: $background;
        transition: 180ms ease-in-out height, 100ms ease width;;
        height: 2px;
        width: 100%;

        cursor: pointer;
        border-radius: 4px;

        &:hover {
          height: 10px;
        }
      }
    }

    & progress[value],
    & progress[value]::-webkit-progress-bar {
      background-color: $foreground_20;
      border: 0;
    }

    & progress[value]::-webkit-progress-value,
    & progress[value]::-moz-progress-bar {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    & progress[value]::-webkit-progress-value {
      background-color: $foreground_50;
      // transition: 120ms ease all;

      &:hover {
        background-color: $foreground_75;
      }
    }

    & progress[value]::-moz-progress-bar  {
      background-color: $foreground_50;
      // transition: 120ms ease all;

      &:hover {
        background-color: $foreground_75;
      }
    }
  }
}