/*
 * © 2022-2022 Burns Recording Company
 * Created: 22/10/2022
 */
@import 'layout';

.splash {
  @include flex-center;
  flex-direction: column;
  // align-items: flex-start;
  align-items: center;

  margin: $spacing * 2;

  & h1 {
    display: inline-block;
    width: min-content;
    font-size: 6em;
    font-weight: 900;
    margin: 0;
  }
  & h2 {
    display: inline-block;
    font-size: 4em;
    font-weight: 300;
    margin: 0;
  }

  & .supporting-text {
    font-size: 1.4em;
    font-weight: 300;
    margin: 0;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    align-items: center;
    h1, h2 {
      text-align: center;
    }
  }

  & .cover-art {
    @include flex-center;
    margin-top: $spacing * 4;
    width: 100%;

    & > img {
      max-height: 250px;
      -webkit-user-drag: none;
      user-drag: none;
      user-select: none;
    }
  }
}
