/*
 * © 2022-2022 Burns Recording Company
 * Created: 22/10/2022
 */
@import 'layout';
@import 'fonts';

.splash {
  max-width: 100%;

  & > *:first-child {
    margin-top: $spacing;
  }

  & > * {
    margin: 0 $spacing * 2;
  }
}
